<section class="sc-applicationContent-main">
  <article class="p-2">
    <div class="card mb-3">
      <div scPageActionBar>
        <sc-action-bar>
          <sc-action-bar-right>            
            <select class="select-css" [(ngModel)]="postData.SiteId" name="websites" (change)="submitData()">
              <option value="" disabled selected>Select Website</option>
              <option  *ngFor="let data of Websites;"  [ngValue]="data.WebSiteId" >{{data.WebSiteName}}</option>
            </select>
            <select class="select-css" [(ngModel)]="postData.DataType" name="datatypes" (change)="submitData()">
              <option  *ngFor="let datatype of dataTypes;"  [ngValue]="datatype.value" >{{datatype.data}}</option>
            </select>
            <ngx-daterangepicker [(ngModel)]="SelectedData" [options]="options"></ngx-daterangepicker>
          </sc-action-bar-right>         
          <sc-action-bar-right>
            <button scButton="primary" (click)="submitData()">Get-Details</button>
          </sc-action-bar-right>
        </sc-action-bar>
      </div>
    </div>
  </article>
  <article class="p-2">
    <div class="card mb-3 stats">
      <div class="card-block"  *ngIf="statsLoaded">
        <h2 class="card-title"> {{stats.currentCountry}} <img *ngIf="stats.currentCountryCode!='ZZ'" src="https://www.countryflags.io/{{stats.currentCountryCode}}/shiny/64.png"> 
        </h2>        
        <p class="blockquote redBg">COVID Stats : Confirmed [{{stats.covidStats.confirmed}}], Recovered [{{stats.covidStats.recovered}}] </p>
        <p class="blockquote blueBg">Avg. daily {{postData.DataType}} before COVID : {{stats.averageBeforeCovidVisit}}   </p>
        <p class="blockquote yellowBg"  *ngIf="stats.visitPercentage > 0"> Avg. daily {{postData.DataType}} for selected dates : {{stats.averageCovidVisit}}  
          <sc-icon icon="navigate_up" title="navigate_up" size="medium"> {{stats.visitPercentage}}</sc-icon>  {{stats.visitPercentage}} %  
        </p>
        <p class="blockquote yellowBg"  *ngIf="stats.visitPercentage < 0"> Avg. daily {{postData.DataType}} for selected date range : {{stats.averageCovidVisit}}  
          <sc-icon icon="navigate_down" title="stats.visitPercentage" size="medium"> </sc-icon> {{stats.visitPercentage}} %   
        </p>
      </div>
    </div>
  </article>
  <article class="p-2">
    <sc-progress-indicator-panel [show]="show" class="loader">
      
    </sc-progress-indicator-panel>
    <div class="card mb-3">
      <div class="card-block">
        <div echarts [options]="chartOption" [merge]="updateOptions" class="demo-chart"></div>
        <p class="blockquote-footer"> * Covid Data is based on dataset provided by <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank"> 
          John Hopkins University</a> </p>
        <div class="table-wrapper">
          <table scTable>
            <thead scSort (sortChange)="onSortChange($event)" sortBehavior="multi">
              <tr>
                <th scSortHeader="id">#</th>
                <th scSortHeader="country">Country</th>
                <th scSortHeader="dailyvisits">Average daily {{postData.DataType}}</th>
                <th> View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of sortedData; trackBy: trackByItemId">
                <td>{{ data.id }}</td>
                <td>{{ data.country }}</td>
                <td>{{ data.dailyvisits }}</td>
                <td><button scButton="primary" (click)="getCountryDetails(data.countryCode,data.scCountryCode)">View-Details</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
 
</section>
